label{
  width: 10px;
  margin-right: 100px;
  float: left;
}

.time_range{ 
  width:200px; 
}


/* change this style to affect size and color of time range elements  */

.slot {
  width: 20px;
  background: #d0d0d0;
  border: 1px solid #CCC;
}

.slot:hover {
  background: #FF0;
}